name: Build and Lint

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check format
      run: |
        find . -path ./build -prune -o -type f -name '*.[c|h]' -print | xargs clang-format-18 --style=file --dry-run -Werror